@font-face {
	font-family: "Anaktoria";
	src: url("https://catchup.ourtech.community/public/fonts/anaktoria.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: black;
	color: #fafafa;
	font-family: "Poppins", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	font-family: "Anaktoria";
	font-size: 65px;
	font-size: clamp(60px, 12vw, 100px);
	letter-spacing: 8px;
	margin: 1em 0.5em 0.5em 0.5em;
	text-align: center;
}

h2 {
	text-align: center;
	margin: 0 1em;
	font-size: 20px;
	font-size: clamp(20px, 2vw, 25px);
}

#cta-wrapper {
	margin: 10em 0 5em 0;
}

#cta-wrapper a:hover,
button:hover {
	box-shadow: 0 0 8px #bdbdbd;
}

#white-bg-cta {
	color: black;
	background-color: #e0e0e0;
	margin: 1em 0.5em;
	padding: 0.25em 0.75em;
	border-radius: 40px;
	font-size: 25px;
	font-size: clamp(21px, 3vw, 30px);
	text-decoration: none;
	text-align: center;
}

.black-bg-cta {
	color: #fafafa;
	margin: 1em 0.5em;
	padding: 0.25em 0.75em;
	border: 2px solid #fafafa;
	border-radius: 40px;
	font-size: 25px;
	font-size: clamp(20px, 3vw, 30px);
	text-decoration: none;
	text-align: center;
}

footer {
	margin-top: 2em;
	padding: 0 0.5em 1em 0.5em;
	text-align: center;
}

footer a {
	color: #fafafa;
}

form {
	display: flex;
	flex-direction: column;
	font-size: 20px;
	margin: 2em 1em;
}

input {
	margin: 0.5em 0 2em 0;
	font-family: inherit;
	font-size: inherit;
	padding: 0.25em 0.5em;
	border-radius: 5px;
	border: none;
}

button {
	font-size: inherit;
	font-family: inherit;
	border-radius: 25px;
	margin: 1em 0;
	padding: 0.25em 0;
	border: none;
	cursor: pointer;
}

@media screen and (max-width: 600px) {
	h1 {
		letter-spacing: 5px;
	}

	#cta-wrapper {
		display: flex;
		flex-direction: column;
		margin: 5em 0 3em 0;
	}

	a img {
		width: 10vw;
		height: auto;
	}
}
