name: Build and deploy web app
on:
    push:
        branches:
            - main
        paths:
            - ".github/workflows/build-deploy-web-app.yaml"
            - "public/**"
            - "summary/**"
            - "util/build.sh"
            - ".detaignore"
            - "index.js"
            - "package-lock.json"
            - "package.json"

    pull_request:
        branches:
            - main
        paths:
            - "public/**"
            - "summary/**"
            - "util/build.sh"
            - "index.js"
            - "package-lock.json"
            - "package.json"

    workflow_dispatch: # Allows manual execution of workflow

jobs:
    build:
        if: startsWith(github.ref, 'refs/pull/')
        runs-on: ubuntu-latest
        container: "docker://asciidoctor/docker-asciidoctor:latest"
        steps:
            - name: Checkout code
              uses: actions/checkout@v2

            - name: Build summary pages using Asciidoctor Jet
              run: |
                  chmod +x util/build.sh
                  ./util/build.sh

    build-and-deploy:
        if: startsWith(github.ref, 'refs/heads/')
        runs-on: ubuntu-latest
        container: "docker://asciidoctor/docker-asciidoctor:latest"
        steps:
            - name: Checkout code
              uses: actions/checkout@v2

            - name: Build summary pages using Asciidoctor Jet
              run: |
                  chmod +x util/build.sh
                  ./util/build.sh

            - name: Deploy to Deta
              uses: HarshKapadia2/deta-deploy-action
              with:
                  deta-access-token: ${{ secrets.DETA_TOKEN }}
                  deta-name: catchup
                  deta-project: otc
                  deta-project-dir: "."
